<!DOCTYPE html>

<html lang="en">
<head>
  <title>
    <%= (subject || 'Not found!') %>
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/themes/less/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mail.css">
  <script src="/themes/js/jquery.min.js" type="text/javascript"></script>
</head>

<body>
  <div id="mail" class="container">
    <h1><%= (subject || 'Mail not found!') %></h1>
<% if (subject) { %>
      <div class="widget-box">
        <div class="widget-title">
          <ul>
          <li>From: <%= from %></li>
          <li>Time: <%- date %></li>
          </ul>
        </div>
        <div class="widget-content">
          <%- body %>
        </div>
      </div>
<% } %>
    <div class="pull-right">
      <button class="btn btn-primary" onclick="window.close();">
        <i class="icon-off"></i> Close
      </button>
    </div>
  </div>

  <script src="/themes/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
